.fonte {
    position: absolute;
    top: 370px;
}

.Nome {

    font-size: 300%;
    font-weight: 900;
    color: darkgreen;
    text-align: center;
}

.foto {
    top: 80px;
    position: absolute;
    z-index:1;
    border-radius: 100%;
    left: 40%;
    
}

.location {
    position: absolute;
    top: 300px;
    left: 42%;
}
.nationality {
    position: absolute;
    top: 420px;
    
}

.texto {
    position: absolute;
    top: 480px;
    left: 30px;
}

.indice {
    position: absolute;
    top: 540px;
    left: 30px;
}

body :hover {
    border: 6px solid pink;
}
body :active {
    color: red
}

.linkedin {
    position: absolute;
    top: 730px;
    left: 30px;
}